<!--Основной шаблон-->
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <!-- Header -->
            <header id="header">

                <span class="contacts_header"><a href="tel:+79063314340">+7(906)-331-43-40</a></span>
                <span class="contacts_header"><a href="tel:+79778142858">+7(977)-814-28-58</a></span>
                <span class="contacts_header"><a href="mailto:limerencelim@gmail.com">limerencelim@gmail.com</a></span>
                <span class="logo_header"><img src="./img/logo_top.svg" width="150px" height="70px" alt=""></span>
                <span class="tel_header"><a href="tel:+79063314340">+7(906)-331-43-40</a></span>


                <ul class="icons">
                    <li><a href="#" class="icon far fa-envelope-o"><span class="label">Email</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fab fa-vk"><span class="label">Vk</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>

            </header>
        </div>
    </div>