<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Поиск" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Меню</h2>
            </header>
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="catalogs.html">Каталог подарков</a></li>
                <li><a href="about.html">О нас</a></li>
                <li><a href="pdf_catalogs.html">PDF каталоги</a></li>
                <li><a href="delivery.html">Доставка</a></li>
                <li><a href="contacts.html">Контакты</a></li>
                <li><a>
                        <h5>Контакты для связи:</h5>
                    </a></li>
                <li><a href="tel:+79063314340">
                        <h5>+7(906)-331-43-40</h5>
                    </a></li>
                <li><a href="tel:+79778142858">
                        <h5>+7(977)-814-28-58</h5>
                    </a></li>
                <li><a href="mailto:limerencelim@gmail.com">
                        <h5>limerencelim@gmail.com</h5>
                    </a></li>

            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Подарки на новый год</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <h3>Новогодние открытки</h3>
                    <a href="#" class="image"><img src="img/card (8).jpg" alt="" /></a>
                    <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем
                        так.</p>
                </article>
                <ul class="actions">
                        <li><a href="#" class="button">Перейти</a></li>
                    </ul>
                <article>
                        <h3>Сладкие подарки</h3>
                    <a href="#" class="image"><img src="img/candy_gift.jpg" alt="" /></a>
                    <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем
                        так.</p>
                </article>
                <ul class="actions">
                        <li><a href="#" class="button">Перейти</a></li>
                    </ul>
                <article>
                        <h3>Корпоративные подарки</h3>
                    <a href="#" class="image"><img src="img/corp.jpg" alt="" /></a>
                    <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем
                        так.</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">Перейти</a></li>
            </ul>
        </section>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Закажите прямо сейчас</h2>
            </header>
            <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его
                корни уходят в один фрагмент классической латыни 45 года н.э.</p>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="mailto: limerencelim@gmail.com">limerencelim@gmail.com</a></li>
                <li class="fa-phone"><a href="tel: +79063314340">+7(906)-331-43-40</a></li>
                <li class="fa-phone"><a href="tel: +79778142858">+7(977)-814-28-58</a></li>
                <li class="fa-home">г. Казань, респ. Татарстан<br />
                </li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; Все права защищены. Limerance. 2018</p>
        </footer>

    </div>
</div>